<div>1
  <button>On</button>
  <button>Off</button>
</div>
<div>2
  <button>On</button>
  <button>Off</button>
</div>
<div>3
  <button>On</button>
  <button>Off</button>
</div>
<div>4
  <button>On</button>
  <button>Off</button>
</div>
<div>5
  <button>On</button>
  <button>Off</button>
</div>
<div>All
  <button>On</button>
  <button>Off</button>
</div>
